*{
  font-family: "Orbitron","Jura", Verdana;
}

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

body{
  padding-top: 80px;
  padding-bottom: 180px;
}


textarea{
  font-family: Verdana;
}

.busca-topo{
  background: transparent;
  border: 0;
  border-bottom: 2px solid #fff;
  color: #fff;
  border-radius:0; 
}

.card-deck{
  margin-bottom: 30px;
}